/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* GENERIC STYLES */
html, body {
  color: white;
  /* font-family: Helvetica, Arial , sans-serif; */
  font-family: 'Pattaya', sans-serif, 'Gochi Hand', cursive;
  font-size: 1.3rem;
  background-color: #21232A;
}
h1 {
  text-align: center;
}
#imgUrl {
  font-family: 'Pattaya', sans-serif, 'Gochi Hand', cursive;
  font-size: 18px;
  color: white;
  background-color: rgba(185, 182, 182, 0.65);
  border-color: white;
  border-radius: 5px;
  height: 22px;
}
#imgUrl:focus {
  outline: none;
  border-color: white;
}
input[type="color"] {
  cursor: pointer;
  border: 0;
  border-radius: 100px;
  outline: none;
  background-color: transparent;
}
#imgUrl::placeholder {
  color: white;
  opacity: .4; 
}
:-ms-input-placeholder { 
  color: white;
  opacity: .4; 
}
::-ms-input-placeholder { 
  color: white;
  opacity: .4; 
}
/* FILE PAGE */
#principal-container {
  padding: 70px;
}
#createFile {
  border: 1px solid #444;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  text-align: center;
}
.files {
  border: 1px solid #444;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  text-align: center;
  font-size: 24px;
}
#allFiles { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
#allFiles > .files {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.fileInput {
  border-style: none;
  background: transparent;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  flex-grow: 1;
  color: #BFD2FF;
  font-size: .8rem;
  /* line-height: 2.4rem; */
  vertical-align: middle;
  text-align: center;
}
.fileInput::-webkit-input-placeholder {
  color: #7881A1;
}
.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.btnCreate {
  cursor: pointer;
  border: none;
  outline: none;
	position: relative;
	padding: 10px 40px;
  margin: 15px 0px 10px 0px;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;	
  /* background-color: #3498db;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9; */
  background-color: #01497c;
	border-bottom: 5px solid #013a63;
	text-shadow: 0px -2px #013a63;
}
.btnCreate:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
/* BOARD PAGE */
.container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.color-picker {
  text-align: center;
}
.board-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 1%;
  background: white;
}
.size-picker h3 {
  display: inline-block;
}
/* .sketch {
  position: relative;
  width: 100%;
  height: 100%;
}
.sketch > .board {
  position: absolute;
  top: 0;
  left: 0;
} */
.sketch > .board {
  width: 100%;
  height: 100%;  
}
.sketch {
  width: 100%;
  height: 100%;
}
.crosshairCursor {
  cursor: crosshair;
}
.filters {
  margin-right: 50px;
  margin-top: -50px;
  float: right;
}
@media (max-width: 1500px) {
  .filters {
    margin-right: 10px;
    margin-top: -50px;
    float: right;
  }
}
.filters2 {
  margin-left: 50px;
  margin-top: -50px;
  float: left;
}
.options {
  float: left;
  margin-top: 10px;
}
#save {
  position: fixed;
}
/* SESION PAGE */
#sesion-container {
  display: inline-block;
  position: relative;
  width: 100%;
}
#create-room {
  position:fixed;
  text-align:center;
  width:40%;
  height: 80%;
}
#join-room {
  position:fixed;
  text-align:center;
  right: 0px;
  width:40%;
  height: 80%;
}
.data {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.inputRoom {
  border-style: none;
  background: transparent;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  flex-grow: 1;
  color: #BFD2FF;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.inputRoom::-webkit-input-placeholder {
  color: #7881A1;
}
/* TOAST STYLE */
.toastClass {
  font-size: 16px;
}
.toastRequestText {
  text-align: justify;
}
.cleanBtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  background: none;
}
.center-horizontal {
  text-align: center;
}
/* FILTERS */
.grayscale {
  --webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.invert {
  --webkit-filter: invert(.9);
  filter: invert(.9);
}
.brightness {
  --webkit-filter: brightness(.5);
  filter: brightness(.5);
}
.saturation {
  --webkit-filter: saturate(6);
  filter: saturate(6);
}
.sepia {
  --webkit-filter: sepia(1);
  filter: sepia(1);
}
.blur {
  --webkit-filter: blur(5px);
  filter: blur(5px);
}
.contrast {
  --webkit-filter: contrast(150%);
  filter: contrast(150%);
}
.switch-field input[type=button], .switch-field input[type=radio] {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
	cursor: pointer;
}
.switch-field input:checked + label {
	/* background-color: #a5dc86; */
	background-color: #f3f055;
	box-shadow: none;
}
.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}
.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
.optionName {
  font-size: .8rem;
  color: #878787;
}
.test {
  filter: brightness(1) saturate(100) sepia(0) blur(0px) contrast(123%);
}
/* TEXT EDITOR */
.textEditor {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  width: 60%;
  background-color: white;
  color: black;
  min-height: 95vh;
}
/* LOGIN */
.lrBlock {
  margin: 0 auto;
  text-align: center;
  width: 20rem;
  height: 12rem;
  border-radius: 10px;
  padding-top: 10px;
}
.lrInput {
  background:rgba(255, 255, 255, 0.1);
  color:rgba(185, 182, 182, 0.65);
  border-radius: 5px;
  outline: none;
  border: 0;
  margin: 15px;
  height: 1.8rem;
  width: 15rem;
  text-align: center;
}
.lrInput::placeholder {
  text-align: center;
}
.lrBlock input[type=submit] {
  cursor: pointer;
  width: 15rem;
  height: 1.8rem;
  background: rgb(250, 237, 52);
  border: none;
  outline: none;
  border-radius: 5px;
}
.lrBlock .infoLR {
  color: white;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}
#redirect {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
#redirect:hover {
  text-decoration: underline;
}