html, body {
  color: white;
  font-family: Helvetica, Arial , sans-serif;
  font-size: 1.3rem;
  background-color: #21232A;
}
h1 {
  text-align: center;
}
#principal-container {
  padding: 70px;
}
#createFile {
  border: 1px solid #444;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  text-align: center;
}
/* BOARD PAGE */
.container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.color-picker {
  text-align: center;
}
.board-container {
  width: 90% !important;
  height: 90% !important;
  margin: 0 auto;
  margin-top: 1%;
  background: white;
}
.board {
  width: 100%;
  height: 100%;   
}
.sketch {
  width: 100%;
  height: 100%;
}
/* SESION PAGE */
#sesion-container {
  display: inline-block;
  position: relative;
  width: 100%;
}
#create-room {
  position:fixed;
  text-align:center;
  width:40%;
  height: 80%;
}
#join-room {
  position:fixed;
  text-align:center;
  right: 0px;
  width:40%;
  height: 80%;
}
.data {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.btnRoom {
  cursor: pointer;
  border: none;
  outline: none;
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
  /* background-color: #3498db;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9; */
  background-color: #01497c;
	border-bottom: 5px solid #013a63;
	text-shadow: 0px -2px #013a63;
}
.btnRoom:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.inputRoom {
  border-style: none;
  background: transparent;
  outline: none;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  flex-grow: 1;
  color: #BFD2FF;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.inputRoom::-webkit-input-placeholder {
  color: #7881A1;
}
/* TOAST STYLE */
.toastClass {
  font-size: 16px;
}
.toastRequestText {
  text-align: justify;
}
.cleanBtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  background: none;
}
.center-horizontal {
  text-align: center;
}